body{
	background-image: url("https://media.giphy.com/media/zDrQxFFgiiGoU/giphy.gif");
}
div{
	border-style: double;
	text-align: center;
}
#poop{
	text-align: center;
}
#guesses-container{
	 height: 400px;
	 width: 550px;
	background-image: url("https://img.memesuper.com/14f406b13ce9941dfd4873207563b600_memes-en-gif-memesuper-owned-meme-gif_550-400.gif");
}